name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Rust Release binary
      uses: rust-build/rust-build.action@v1.4.5
      with:
        RUSTTARGET: x86_64-unknown-linux-musl
        TOOLCHAIN_VERSION: stable
        ARCHIVE_NAME: pomo-tui-x86_64-linux-musl.tar.gz
